{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>
        Name: <span class="student-name">Jan Albert Juntilla</span>
    </h2>
    <h3>Student ID: <span class="student-id">2022-06356</span>

   <style>
      body {
        color: black;
        background-color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
      } 

      .student-name {
        font-family: 'Courier New', Courier, monospace;
      }
      .student-id{
        font-family: 'Courier New', Courier, monospace;
      }
    </style>
{% endblock %}
